<section class="categories">

    <div class="container">

        <h2>
            Popular Categories
        </h2>

        <div class="categories-grid">

            @for (category of categories; track category.name) {

                <a
                    class="category-card"
                    routerLink="/events"
                    [queryParams]="{ category: category.filter }">

                    <span class="icon">
                        {{ category.icon }}
                    </span>

                    <h4>
                        {{ category.name }}
                    </h4>

                </a>

            }

        </div>

    </div>

</section>
