.categories{

    background:#0d0d0d;

    padding:70px 0;

}

.categories h2{

    color:white;

    margin-bottom:40px;

    font-size:2rem;

    font-weight:bold;

}

.categories-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));

    gap:20px;

}

.category-card{

    display:block;

    background:#171717;

    border-radius:18px;

    padding:35px;

    text-align:center;

    transition:.3s;

    cursor:pointer;

    border:1px solid transparent;

    text-decoration:none;

}

.category-card:hover{

    transform:translateY(-8px);

    border:1px solid #00e676;

    box-shadow:0 0 25px rgba(0,230,118,.35);

}

.icon{

    font-size:50px;

    display:block;

    margin-bottom:20px;

}

.category-card h4{

    color:white;

    margin:0;

}